.container {
    width: 90%;
    margin: 0 auto;
}

.create-btn {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
}

.create-btn button {
    background-color: #3282d5;
    border: 1px solid #3282d5;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 2% 5%;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.create-btn button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.create-btn button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    background-color: #3282d5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}
