.container {
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    width: 40%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    z-index: 1000; /* Adjust z-index as needed */
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.modal-actions{
    display: flex;
    flex-direction: row;
    gap: 10%
}

.modal-actions button {
    
    display: block;
    width: 102%;
    font-size: 16px;
    border-radius: 15px;
    padding: 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
    

}

.modal-actions button:hover {
    background: rgb(0, 0, 167);
}


.modal-actions .action-deny{
    background-color: #ef233c;
}

.container p {
    margin-top: 0;
}

.container label{
    font-weight: bold;
}


.container input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-top: 5px;
    padding: 1% 0 1% 2% !important
}



.modal-close-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102%;
    font-size: 16px;
    border-radius: 15px;
    padding: 15px;
    background-color: #ef233c;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.modal-close-container button:hover {
    background-color: #d81f35;
}