.actions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    height: 100%;
}

.actions-container button{
    margin-top: 2%;
    margin-bottom: 2%;
}