.add-product-modal {
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    width: 40%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    z-index: 1000; /* Adjust z-index as needed */
}

.product-form textarea {
    width: 102%;
    height: 100%;
    padding: 1.5% 1% 1.5% 2%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.modal-actions{
    display: flex;
    flex-direction: row;
    gap: 10%
}

.add-product-modal button {
    
    display: block;
    width: 102%;
    font-size: 16px;
    border-radius: 15px;
    padding: 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
    

}


.modal-actions .action-deny{
    background-color: #ef233c;
}

.subscription-container{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    gap: 1%;
}

.toggler-wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
  }
  
  .toggler-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: #3282d5;
  }
  
  .toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }

  .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
    /* background-image: url(../img/lock-fill.svg); */
  }
  
  .toggler-wrapper .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #fff;
    /* background-image: url(../img/lock-unlock-fill.svg); */
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }