.container {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
}

.container>label {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input {
    width: 70%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-top: 5px;
    padding: 5px 10px !important;
}

button {
    width: 460px;
    font-size: 16px;
    padding: 15px;
    border-radius: 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
}

button:hover {
    background: rgb(0, 0, 167);
}

h1 {
    margin: 30px 0px 30px 0px;
}

/* 
.company,
.name {
  display: flex;
  flex-direction: column;
} */

.flex {
    display: flex;
    /* justify-content: space-between;
   */
    gap: 12px;
}

.flex>div {
    flex: 1;
}

.label_business {
    text-decoration: none;
    color: blue;
}

/* SignUp.module.css */

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.formRow {
    width: 100%;
    margin-bottom: 1rem;
}

/* Misc additional styles */
.fullWidth {
    width: 460px;
}